# =========================
# Secrets
# =========================
.env

# =========================
# Docker persistent data
# =========================
docker/data/
docker/data/**

# =========================
# Node / Frontend
# =========================
node_modules/

# =========================
# Java / Maven
# =========================
target/
*.log

# =========================
# IntelliJ
# =========================
.idea/
*.iml


# Ignore common temporary files
*.sock